.data
.app-data
.stack-work
dist
cabal-dev
docker
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.virtualenv
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
/feature-creature/backend/env/development.env
/users-service/env/test.env
/users-service/env/development.env
/auth-service/env/test.env
/auth-service/env/development.env
/features-worker/env/development.env
/keyrings/live/pubring.gpg~
/keyrings/live/pubring.kbx~
/keyrings/live/secring.gpg
